{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
    .footer{
        margin-top: 150px!important;
    }
</style>
<script type="text/javascript">
  document.getElementById('cartIcon').classList.add("hidden");
</script>
<div style="margin-top: 170px;" class="container">
    <div class="d-flex flex-column">
        <p style="font-size: 30px;" class="m-auto">Your password has been Updated.</p>
        <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
    </div>
</div>
 
{% endblock content %}
