{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
  body{
    background-image: url('{% static "images/bg-gif.gif" %}');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 30px;
    margin: auto;
    margin-bottom: 5px;
    }
 
  .form-control {
    position: relative;
    margin-bottom: 15px;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3  {
    text-align: center;
    margin-top: 50px;
  }
</style>
<h1 class="h3 mb-3 font-weight-normal">Change password</h1>
<form class="form-signin" method="post" style="border-radius: 15px;border: 3px solid #000;background-color: whitesmoke;">{% csrf_token %}
    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
    <div style="display: flex;justify-content: center;">
      <button class="btn btn-lg btn-block" style="width: 200px;background-color: #212529;color: #e8ce4d;" type="submit">Update</button>
    </div>
</form>
{% endblock content %}
