{% load static %}
<nav class="navbar sticky-top" style="background-color: #212529;height: 70px;">
    <div class="container" style="display: flex;justify-content: space-between;">
        <ul class="nav-links">
            <li> 
                <a for="logo" class="logo-label" style="font-size: 28px;color: #e8ce4d;font-weight: 500;" href="{% url 'home' %}">FreelanceGo</a>
                {% if request.user.is_authenticated %}
                    {% if request.user.user_type == 'f' %}
                    <a class="text-white" style="text-decoration: none;font-weight: 325;margin-left: 10px;" href="{% url 'list_all_jobs' %}">Job Posts</a>
                    {% else %}
                    <a class="text-white" style="text-decoration: none;font-weight: 325;margin-left: 10px;" href="{% url 'job_posting' %}">Post Project</a>
                    <a class="text-white" style="text-decoration: none;font-weight: 325;margin-left: 10px;" href="{% url 'list_jobs' %}">My Posts</a>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
        <ul class="nav-signups">
            <li>
                {% if request.user.is_authenticated %}
                <div class="d-flex flex-row">
                    <h5 class="mt-1 mr-3 font-weight-normal justify-content-start p-2">
                        <a class="text-white" style="text-decoration: none;font-weight: 325;font-size: 22px;" href="{% url 'account:view' user_id=request.user.id %}">Account</a>
                        <a class="text-white" style="text-decoration: none;font-weight: 325;font-size: 22px;margin-left: 10px;" href="{% url 'logout' %}">Logout</a>
                    </h5>
                </div>
                {% else %}
                <div class="d-flex flex-row">
                    <h5 class="mt-1 mr-3 font-weight-normal justify-content-start p-2">
                        <a class="text-white" style="text-decoration: none;font-weight: 325;font-size: 22px;" href="{% url 'login' %}">Login</a>
                        <a class="text-white" style="text-decoration: none;font-weight: 325;font-size: 22px;margin-left: 10px;" href="{% url 'register' %}">Register</a>
                    </h5>
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
