{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
    body{
        background-image: url('{% static "images/bg-gif.gif" %}');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .image-container{
        max-width: 250px;
        height: auto;
        position: relative;
    }
    .field-heading{
        color: #737373;
    }
    #id_confirm{
        color: green;
    }
    #id_confirm:hover {
        opacity: 0.3;
    }
    #id_cancel:hover {
        opacity: 0.3;
    }
    #id_cancel{
        color: red;
    }
    .material-icons{
        font-size: 30px;
    }
    .material-icons:hover{
        cursor: pointer;
    }
    .h3  {
        text-align: center;
        margin-top: 50px;
    }
</style>
<h1 class="h3 mb-3 font-weight-normal">Account</h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card profile-card" style="width: 350px;border: 2px solid black;">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-center p-4">
                <div class="image-container" id="id_image_container">
                    <img class="border border-dark rounded-circle img-fluid mx-auto profile-image" id="id_profile_image_display" src="{{form.initial.profile_image.url}}" alt="logo">
                </div>
                <form class="form-signin" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <input class="d-none" type="file" name="profile_image" id="id_profile_image" onchange="readURL(this)">
                    <h6 class="mt-4 field-heading">Email</h6>
                    <input type="email" name="email" id="id_input_email" class="form-control" placeholder="Email address" required autofocus value={{form.initial.email}}>
                    <h6 class="mt-4 field-heading">Username</h6>
                    <input type="text" name="username" id="id_input_username" class="form-control" placeholder="Username" required
                    value="{{form.initial.username}}">
                    <div class="mt-4 checkbox">
                        <label>
                            <input type="checkbox" name="hide_email" id="id_input_hide_email" {% if form.initial.hide_email %}checked{%endif%}>
                            Hide Email
                        </label>
                    </div>
                    {% for field in form %}
                        <p>
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div style="color: red">
                            <p>{{form.non_field_errors}}</p>
                        </div>
                    {% endif %}
                    <div style="display: flex;justify-content: center;">
                        <button class="btn btn-lg btn-block mt-2" style="width: 200px;background-color: #212529;color: #e8ce4d;" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}
